// Colors
$color-darkmode-elements: hsl(209, 23%, 22%);
$color-darkmode-background: hsl(207, 26%, 17%);
$color-lightmode-text: hsl(200, 15%, 8%);
$color-lightmode-input: hsl(0, 0%, 52%);
$color-lightmode-background: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%); // Dark mode text & light mode elements
$color-black: #000;

$color-box-shadow: rgb(17, 17, 26);

$margin-bottom-forsections: 4.8rem;
